@model EmployeesPortal.Web.Models.PostCommentVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Book Chapters";
}
@section scripts {
    @Scripts.Render("~/Scripts/datatables")
    <script src="~/Scripts/plugins/jquery.alphanum.js"></script>
}
<!-- Page header -->
@section header {
    <div style="background-color: #fff;" class="panel page-header border-top-primary">
        <div class="page-header-content">
            <div class="page-title">
                <h5>
                    <i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Manage Book Chapters</span>
                    <small class="display-block">add,list and search</small>
                </h5>
            </div>
            <div class="heading-elements">
                <div class="btn-group">
                    <a href="/Adminpost/create/" class="btn btn-primary"><i class="icon-add position-left"></i> New Book Chapter</a>
                    <a href="/Adminpost/index/" class="btn btn-primary"><i class="icon-add position-left"></i> List All Book Chapters</a>
                </div>
            </div>
            <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
        </div>
    </div>
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="tabbable">
           
            <div class="tab-content">
                <div class="row">
                    <h3>
                        @Model.Post.title
                    </h3>
                </div>
                <div class="row">
                    @MvcHtmlString.Create(HttpUtility.HtmlDecode(Model.Post.Description))
                    
                </div>
                <div class="row">
                    <button class="btn btn-primary" value="Please Proceed with Registration of Post" id="understandbuton">Please Proceed with Registration of Post</button>
                </div>
                </div>

            @Html.Partial("_LoadConversation")
            @Html.Partial("_AddComment")
        </div>
       </div>
    </div>
<div class="modal fade" id="understandmodel" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register the post</h4>
            </div>
            <div class="modal-body" id="modelstatusdiv">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Please check if you have read the book", htmlAttributes: new { @class = "control-label col-md-8" })
                        <div class="col-md-4">
                            @Html.CheckBox("isread", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Please check if you have understand the book", htmlAttributes: new { @class = "control-label col-md-8" })
                        <div class="col-md-4">
                            @Html.CheckBox("isunderstand",  new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="reset" id="btnregisterReadPost" data-postid="@Model.Post.id" value="Add" class="btn btn-primary btnregisterReadPost" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        $(document).on("click", ".postcomment", function () {
            var url = '/epost/savecomment';
            var postid = $(this).attr("data-postid");
            var commentval = $(".commentval").val();
          //  alert(postid);
           // alert(commentval);
            $.ajax({
                url: url,
                data: {
                    id: postid,
                    comment:commentval

                },
                type: 'POST',
            }).done(function (data) {
                $(".commentval").val('');
                $("#commentSection").append('<div class="control-label"><h5>' + data.commentText + '</h5> Comment By' + data.commentBy + '</div>')
            });
            return false;
        });

        $(document).on("click", ".btnregisterReadPost", function () {
            var url = '/epost/RegisterReadPost';
            var postid = $(this).attr("data-postid");
            var read = 0;
            var understand =0;
            if ($("#isread").prop("checked")== true) {
                read = 1;
            }
            if ($("#isunderstand").prop("checked")== true) {
                understand = 1;
            }
            
              alert(postid);
              alert(isread);
              alert(isunderstand);
            $.ajax({
                url: url,
                data: {
                    postid: postid,
                    isread:1,
                    isunderstand:1
                },
                type: 'POST',
            }).done(function (data) {
                if (data.success == true) {
                    alert("Test");
                    $('#understandmodel').modal('toggle');
                }
                
            });
            return false;
        });



        /*
  ** Multiple Assignment.
  */
        jQuery(document).on('click', '#understandbuton', function () {
            $('#understandmodel').modal('toggle');

            return false;
        });
       
        //window.onbeforeunload = function (e) {
        //    $('#understandmodel').modal('toggle');
        //    return false;//'Are you sure you want to leave this page?  You will lose any unsaved data.';
        //};


    });
</script>
