@model EmplyeesPortal.Core.Post
    @{
        ViewBag.Title = "Create - Book Chapter";
    }
    @section scripts {
        @Scripts.Render("~/Scripts/datatables")
        @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
        <script src="~/Scripts/plugins/jquery.alphanum.js"></script>
    }
    @section header {
        <div style="background-color: #fff;" class="panel page-header border-top-primary">
            <div class="page-header-content">
                <div class="page-title">
                    <h5>
                        <i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Manage @ViewBag.postcategoryType Chapters</span>
                        <small class="display-block">add,list and search</small>
                    </h5>
                </div>
                <div class="heading-elements">
                    <div class="btn-group">
                        <a href="/Adminpost/create/@ViewBag.postcategoryid" class="btn btn-primary"><i class="icon-add position-left"></i> New @ViewBag.postcategoryType Chapter</a>
                        <a href="/Adminpost/index/@ViewBag.postcategoryid" class="btn btn-primary"><i class="icon-add position-left"></i> List All @ViewBag.postcategoryType Chapters</a>
                    </div>
                </div>
                <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
            </div>
            <div style="margin-bottom: 0; border-bottom: 0; box-shadow: none;" class="breadcrumb-line">
                <ul class="breadcrumb">
                    <li><a href="/Home/"><i class="icon-home2 position-left"></i> Home</a></li>
                    <li><a href="/Adminpost/index/@ViewBag.postcategoryid">List All @ViewBag.postcategoryType Chapters</a></li>
                    <li><a href="/Adminpost/create/@ViewBag.postcategoryid">Add @ViewBag.postcategoryType Chapter</a></li>
                </ul>
            </div>
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="tabbable">
                <ul class="nav nav-tabs nav-tabs-highlight">
                    <li class="active">
                      @Html.ActionLink("Chapters", "Index", "Adminpost",new { id= ViewBag.postcategoryid }, new { @class = "fa fa-tasks label-icon-sm" })
                    </li>
                </ul>
                <div class="tab-content">
                    @using (Html.BeginForm("create","AdminPost",FormMethod.Post, new { enctype= "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                           
                                <div class="form-group">
                                    @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.searchingwords, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.searchingwords, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.searchingwords, "", new { @class = "text-danger" })
                                </div>
                            </div>
                          
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.departmentid, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        @Html.Label("Deaprtment", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.departmentid, null, "Select Department", new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.departmentid, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                  
                              
                                    @*<div class="form-group">
                                        
                                        @Html.Label("Post Category",htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.postcategoryid, null, "Select Post Category Type", new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.postcategoryid, "", new { @class = "text-danger" })
                                            </div>

                                        </div>*@
                                
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                           
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.isactive, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.CheckBoxFor(model => model.isactive, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.isactive, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                 
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.chapter_no, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.chapter_no, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.chapter_no, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                               
                              
                            <input type="hidden" value="@ViewBag.postcategoryid" name="postcategoryid"/>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                        <a href="/AdminPost/index" class="btn btn-default"> Cancel</a>
                                    </div>
                                </div>
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    jQuery(function () {
        $("#chapter_no").numeric({
            maxLength: 10
        });

        // Full featured editor
        CKEDITOR.replace('Description', {
            height: '250px',
            extraPlugins: 'forms'
        });
        //CKEDITOR.replace('personalstatement', {
        //    height: '250px',
        //    extraPlugins: 'forms'
        //});
    });
</script>